@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

$main-font: "Montserrat", sans-serif;
$semi-bold: 500;
$regular: 400;

@import "base";

body {
  width: 90vw;
  margin: 0 auto;
  font-family: $main-font;
  padding: 1rem 0;

  > * + * {
    margin-top: 2rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;

    background-color: #fff;
    transition: transform 0.3s ease-in-out;

    &.up {
      z-index: -1;
    }

    &.down {
      z-index: 0;
    }

    .side {
      height: 100vh;
      background-color: black;
      flex: 1;
    }

    .side,
    #nav-links {
      transition: transform 0.5s ease-in-out;
    }

    .side-1-from {
      transform: translateX(-100%);
    }

    .side-1-to,
    .side-2-to {
      transform: translateX(0);
    }

    .side-2-from {
      transform: translateX(100%);
    }

    .nav-links-from {
      transform: translateY(-100%);
    }

    .nav-links-to {
      transform: translateY(0);
    }

    #nav-links {
      list-style: none;
      flex: 2;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      li {
        text-align: center;
        padding: 1rem 0;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }

  h1,
  .nav-toggler {
    z-index: 1;
  }

  h1 {
    font-weight: $semi-bold;
    color: rgb(99, 90, 90);
  }

  .nav-toggler {
    cursor: pointer;

    .strip {
      border-radius: 5px;
      width: 50px;
      height: 5px;
      background-color: rgb(99, 90, 90);
      transform-origin: center left;
      transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }

    $deg: 31.79deg;

    .strip-1-trans-from {
      transform: rotate(0);
    }

    .strip-1-trans-to {
      transform: rotate($deg);
    }

    .strip-2-trans-from {
      transform: translateX(0);
      opacity: 1;
    }

    .strip-2-trans-to {
      transform: translateX(-100%);
      opacity: 0;
    }

    .strip-3-trans-from {
      transform: rotate(0);
    }

    .strip-3-trans-to {
      transform: rotate(-$deg);
    }

    > * + * {
      margin-top: 0.5rem;
    }
  }
}
